.home-wrapper {
  height: 100vh;
  border: 1px solid gray;
}

.catalog-item-list {
  height: 100vh;
}
.products-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5px;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100px;
}
